.product-item .content {
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item img {
  max-width: 100%;
  display: block;
  border: 1px solid var(--border-color);
}

.product-item .product-title {
  margin: 0;
}

.product-item .product-subtitle {
  margin: 10px 0 0;
}

.product-item .price {
  margin: 10px 0 0;
}

.product-item button {
  margin: 10px 0 0;
}