.product-single .content-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.product-single img {
    display: block;
    max-width: 100%;
}

.product-summary ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-summary ul li {
    padding: 5px 0;
}

.product-summary .button-holder {
    position: relative;
}

.add-to-cart {
    margin: 30px 0 50px;
}

.product-summary .popup-message {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--successful-color);
    color: #fff;
    transform: translateY(8px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
  
.product-summary .popup-message.show {
    transform: translateY(0);
    opacity: 1;
}

.content-bottom {
    margin-top: 70px;
}

.content-bottom ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.content-bottom ul.tabs li {
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    padding: 15px 0;
}

.content-bottom .tabs > li:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.content-bottom .tabs > li.active:after {
    opacity: 1;
    visibility: visible;
}

.review-item {
    border-bottom: 1px solid var(--border-color);
}

.additional-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.additional-info ul li {
    padding: 0 0 10px;
}

.additional-info ul li:last-child {
    padding-bottom: 0;
}

.additional-info ul li span:not(:last-child):after {
    content: ',';
    margin-right: 5px;
}

/* responsive start */

@media only screen and (max-width: 768px) {
    .product-single .content-top {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .product-title {
        margin-top: 0;
    }
}
