body * {
  box-sizing: border-box;
}

body a {
  color: #000;
  text-decoration: none;
}

:root {
  --border-color: #DDE6ED;
  --dark-background-color: #27374D;
  --medium-background-color: #526D82;
  --light-background-color: #9DB2BF;
}

.page-content {
  margin: 70px 0 100px;
}

.container {
  display: block;
  width: 80vw;
  margin: 0 auto;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

button,
a.button {
  padding: 14px 28px;
  background-color: var(--dark-background-color);
  color: #fff;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

button:hover,
a.button:hover {
  background-color: var(--medium-background-color);
}

a.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: grid;
  column-gap: 30px;
  row-gap: 60px;
}

.columns-two {
  grid-template-columns: repeat(2, 1fr);
}

.columns-three {
  grid-template-columns: repeat(3, 1fr);
}

.product-list-holder {
  display: flex;
  column-gap: 50px;
}

.product-list-holder .product-list {
  width: calc(100% / 3 * 2);
}

.product-list-holder .sidebar {
  width: calc(100% / 3);
}

.login-page {
  width: 50%;
  margin: 0 auto;
}

.login-page .input-holder {
  margin: 0 0 30px;
}

.login-page .input-holder label {
  display: block;
  margin: 0 0 8px;
}

.input-holder input {
  display: block;
  width: 100%;
  height: 46px;
  border: 1px solid var(--light-background-color);
  font-size: 20px;
  line-height: 1em;
  border-radius: 0;
  padding: 10px;
}

.input-holder input:focus {
  border-radius: 0;
  outline: none;
  border-color: var(--medium-background-color);
}

.cart-items table {
  width: 100%;
}

.cart-items th {
  text-align: left;
}

.cart-items table tr td {
  padding: 15px 0;
}

.cart-items tbody td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid var(--border-color);
}

.empty-cart {
  text-align: center;
}

.empty-cart p {
  margin: 30px 0;
}

.custom-filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-filter ul li {
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}